################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MciobanuWcfService02/MciobanuWcfService02/obj/Debug
